<% if @student.errors.any? %>
    <%= render "Shared/errors", obj: @student %>
<% end %>

<div class="container">
    <div class="row center">
        <div class="card-panel sign-up-form">
            <div class="row">
                <h3 class="center-align"><%= @student.new_record? ? "Sign up" : "Edit Profile" %></h3>
                <%= form_for(@student, html: {class: "col s12 m12 l12"}) do |f| %>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.text_field :name, placeholder: "Name", class: "validate", autocomplete: :off %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.email_field :email, placeholder: "Email", type: "email", class: "validate", autocomplete: :off %>
                        </div>
                    </div>
                    <%= f.submit(@student.new_record? ? "Submit" : "Submit Changes", class: "waves-light btn-large") %>
                <% end %>
            </div>
        </div>
    </div>
</div>