<nav>
    <div class="container">
        <div class="nav-wrapper">
            <%= link_to "University", root_path, class: "brand-logo" %>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><%= link_to "Courses", root_path %></li>
                <% if logged_in? %>
                    <li><%= link_to "Students", students_path %></li>
                    <li><%= link_to "#{current_user.name}'s Profile", current_user %></li>
                <% end %>
                <li><%= session_link %></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><%= link_to "Courses", root_path %></li>
    <% if logged_in? %>
        <li><%= link_to "Students", students_path %></li>
                            <li><%= link_to "#{current_user.name}'s Profile", current_user %></li>
    <% end %>
    <li><%= session_link %></li>
</ul>